﻿.account-container {
    margin:25px;
 }

 .error-message {
   color:red;
   font-style:italic;
 }


 #provMenu {
   background-color: #24262b;
   color: rgba(255, 255, 255, 0.685);
   border-radius: 5px;
   padding: 7px;
   width: 100%;
   max-width: 50%;
 }

 Form Button{
    margin:20px;
    margin-left: 0;
 }

#FirstName, #LastName, #Email,#UserName, #Password {
    background-color: #24262b;
    color: #E4E6Eb;
    max-width: 50%;
}

.logout-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}