/* Initial create-react-app css */
a {
  color: black;
}

  a:hover{
    color: blue;
  }

code {
  color: #E01A76;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.form-control, .form-select {
  background-color: #24262b !important;
  color: rgba(255, 255, 255, 0.685) !important;
  max-width: 50%;
}

  .form-control::placeholder {
    color: rgba(255, 255, 255, 0.685) !important;
  }

h1, h2, h3 {
  font-family: 'PatrenaRolane';
  padding: 10px;
}
