/* OrderPage.css */

/* This styles the primary button, which might be your 'Send' button */
.primary-button {
    padding: 10px 20px;
    border: none;
    margin:10px;
    background-color: #24262b;
    color: white;
    font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 40px; /* You can set a fixed height */
  }
  
  .primary-button:hover {
    background-color: #24262b;
  }
  
  /* This styles the secondary button, which seems to be your 'Switch to Register' button */
  .secondary-button {
    padding: 10px 20px;
    border: 2px solid #007bff; /* Use the same color as your primary button for consistency */
    background-color: transparent;
    color: #007bff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .secondary-button:hover {
    background-color: #007bff;
    color: white;
  }

.OP-grid-container {
    display: grid;
    grid-template-columns: auto auto auto; /* The first column for the form and second for future content */
    gap: 1em; /* Space between the grid columns */
}
  /* Style the form to have some padding and ensure contents are aligned */
.form-container {
    display: flex;
    flex-direction: column;
    max-width: 66%; /* Adjust the width as needed */
    margin: 0 auto; /* This centers your form on the page */
  }
  
  /* Style each form field */
  .form-field {
    margin-bottom: 10px; /* Adjust the space between fields */
  }
  
  /* Style the input fields and select box */
.order-form-field {
    width: 100%; /* Full width */
    padding: 10px; /* Padding inside the fields */
    margin: 5px 0; /* Margin for top and bottom */
    display: inline-block;
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    box-sizing: border-box; /* Box-sizing property */
}
  
  /* Style the input fields and select box on focus */
.order-form-field:focus {
    border-color: #666; /* Border color on focus */
 }

.order-form-button {
    display: flex;
    justify-content: center;
    align-content: center;
}